<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>onlineCompiler</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <header>
    <div id="mainHeader">
      Online C++ Compiler
    </div>
  </header>
  <section class="container">
    <label for="outputArea">Output</label><br>
    <textarea name="outputArea" id="outputArea" col="40" rows="15"><%= stdout %></textarea>
  </section>
  <footer>

  </footer>
</body>

</html>